h1 {
    text-align: center;
}

ul[type="navbar"] {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: silver;
    box-shadow: 3px 3px 8px 2px #1E00B3;
}

li {
    float: left;
}

li a[type="navbar"] {
    display: block;
    color: white;
    text-align: center;
    background-color: #202020;
    padding: 10px 50px;
}

li a[type="navbar"]:hover {
    color: #202020;
    text-shadow: 1px 2px 2px #666621;
    background-color: #696969;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 5px;
}